<ion-header>

  <ion-navbar color="dark">
    <ion-buttons start>
      <button ion-button type="button" (click)="changeLanguage()" top right  icon-only>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>English - {{ language }}</ion-title>

    <ion-buttons end>
      <button ion-button color="light" icon-only (click)="signOut()">
         <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content style="background: #eee;">
  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ng-container *ngIf="englishWord.length==0">
          <ion-spinner color="primary"></ion-spinner> <sup ion-text color="primary" class="text-big">Just a moment...</sup>
        </ng-container>
        <ng-container *ngFor="let a of englishWord;let ai=index">
          <ion-card *ngIf="ai==rand" style="width:320px;overflow: auto;box-shadow: 5px 10px 5px 10px #fff;">
            <ion-card-header>
              <button ion-button color="light" (click)="refresh()" top right>
                 <ion-icon name="refresh-circle"></ion-icon> Refresh
              </button>
              <ion-card-title>{{a.word}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
              Pos: {{a.pos}}
            </p>
            <p>
              {{a.description}}
            </p>
            </ion-card-content>
          </ion-card>
         </ng-container>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="translationState.length==1">
      <ion-spinner color="primary"></ion-spinner> <p ion-text color="primary" class="text-big">saving...</p>
    </ng-container>
    <ng-container *ngIf="translationState.length==2">
       <p ion-text color="primary" class="text-big">We temeyolian really appreciate what you are doing...</p>
    </ng-container>
  <form (submit)="saveTranslation()" style="margin-top: 2px;">
    <ion-row>
      <ion-col col-12>
          <ion-item>
            <ion-label stacked>Enter translation here</ion-label>
            <ion-input type="text" name="meaning" [(ngModel)]="translationForm.meaning"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Enter Example here</ion-label>
            <ion-textarea name="example" [(ngModel)]="translationForm.example">
            </ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label stacked>Enter Example meaning in English here</ion-label>
            <ion-textarea name="exampleMeaning" [(ngModel)]="translationForm.exampleMeaning">
            </ion-textarea>
          </ion-item>
          <ion-item>
            <button ion-button color="dark" block>
               SAVE
            </button>
          </ion-item>
      </ion-col>
    </ion-row>
  </form>
  </ion-grid>
</ion-content>
