<ion-header>
  <ion-navbar color="dark">
    <ion-buttons start>
      <button ion-button type="button" (click)="changeLanguage()" top right  icon-only>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{dictionaryLanguageMode}}</ion-title>
    <ion-buttons end>
      <button ion-button color="light" icon-only (click)="signOut()">
         <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background: #eee;">
  <ion-searchbar (ionInput)="searchWordDictionary($event.target.value)" placeholder="Search..." style="border:2px solid #222;"></ion-searchbar>
  <ion-card *ngFor="let a0 of searched;let ai=index">
  <ion-item>
    <h2 text-lg-center class="translation" style="color: #365899;cursor: pointer;">{{a0.meaning}} - <span class="text-light">({{a0.word}})</span></h2>
  </ion-item>
  <ion-card-content>
      <p>
      Ex: {{a0.example}}
    </p>
    <p>Ex-M.
      {{a0.exampleMeaning}}
    </p>
    <p>{{a0.dateOfRecord}}</p>
    <ion-row>
      <ion-col col-2>
        <button ion-button icon-left clear small title="down vote">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-1>
        <div>0</div>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-left clear small title="up vote">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>0 </div>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-left clear small>
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card-content>

</ion-card>
<ng-container *ngIf="searched.length==0">
  <br/>
   <sup ion-text color="primary" class="text-big ">Please type the english word in the search input...</sup>
</ng-container>
</ion-content>
