<ion-header>

  <ion-navbar color="dark">
    <ion-title>TeMeYoLa Dictionary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="searchWordDictionary($event.target.value)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-card *ngFor="let a0 of searched;let ai=index">
  <ion-item>
    <h2 text-lg-center>{{a0.meaning}}</h2><sup class="text-light">({{a0.word}})</sup>
  </ion-item>
  <ion-card-content>
      <p>
      {{a0.example}}
      {{a0.exampleMeaning}}
    </p>
    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>0</div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>0 </div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small>
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card-content>

</ion-card>
<ng-container *ngIf="searched.length==0">
   <sup ion-text color="primary" class="text-big">Please type the english word in the search input...</sup>
</ng-container>
</ion-content>
